<!DOCTYPE html>
<html lang="en" ng-app="rsApp">
<head>
  <title>Rabbitstrap</title>
  <meta charset="utf-8">

  <!--
  Denpendeny
  ===============================================-->
  <link rel="stylesheet/less" href="/static/less/rabbitstrap.less">
  <script src="//cdn.bootcss.com/less.js/2.5.3/less.min.js"></script>
  <script src="//cdn.bootcss.com/angular.js/1.5.0-beta.2/angular.min.js"></script>
  <script src="//cdn.bootcss.com/angular.js/1.5.0-beta.2/angular-route.min.js"></script>

  <!--
  App
  ===============================================-->
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/qa.css">
  <link rel="stylesheet" href="/static/css/qadetail.css">
  <script src="/static/js/app.js"></script>

  <!--
  Vendor
  ===============================================-->
  <link rel="stylesheet" href="/static/vendor/typicons/typicons.min.css">

</head>
<body ng-controller="RootController">
  <!--
  Skin
  ===============================================-->
  <div class="rs-skin"></div>
  <!--
  Navbar
  ===============================================-->
  <div class="rs-navbar-fixed">
    <div class="rs-container">
      <a class="rs-font-size-lg rs-clickable" href="/">校园星空</a>
      <div class="search">
        <input class="rs-input-text" type="text" placeholder="搜索问答、同学、课程等"><span class="typcn typcn-zoom rs-clickable rs-lighten"></span>
      </div>
      <ul class="rs-navbar-list">
        <li ng-click="setCurrNavTab(arr[0])" ng-class="{true: 'rs-active'}[isCurrNavTab(arr[0])]" ng-repeat="arr in [['首页', 'home', 'home-outline'], ['同学帮', 'classmate', 'lightbulb'], ['课程堂', 'course', 'mortar-board']]">
          <a href="#/{{ arr[1]}}"><span ng-class="'typcn typcn-' + arr[2]"></span> {{ arr[0] }}</a>
        </li>
      </ul>
      <div class="rs-clickable-child rs-dropdown-target"><span class="typcn typcn-puzzle-outline"></span> 更多
        <ul class="rs-dropdown">
          <li>a</li>
          <li>a</li>
        </ul>
      </div>
      <div class="rs-clickable-all"><span class="typcn typcn-user-outline"></span> Yang</div>
      <div class="rs-divider"></div>
      <div class="rs-clickable-all"><span class="typcn typcn-bell"></span></div>
      <div class="rs-clickable-all"><span class="typcn typcn-cog-outline"></span></div>
    </div>
  </div>
  <div class="rs-pack-height-50"></div>
  <!--
  View
  ===============================================-->
  <div class="rs-container">
    <div class="rs-frosted" ng-view></div>
  </div>
  <!--
  Template
  ===============================================-->
  <div ng-include src="'/static/template/reading.html'" ng-if="readingMode"></div>
  <div ng-include src="'/static/template/ask.html'" ng-if="askMode"></div>
  <!--
  Footer
  ===============================================-->
  <div class="rs-footer">
    <div>备案号：----</div>
    <div>
      <a class="rs-clickable" href="#">免责声明</a>
      <div class="rs-divider"></div>
      <a class="rs-clickable" href="#">意见反馈</a>
    </div>
    <div>&copy;2014-2015 <a class="rs-clickable" href="#">www.校园星空.com</a> all rights reserved</div>
    <div>友情链接：
      <a class="rs-clickable" href="#">----</a>
      <a class="rs-clickable" href="#">----</a>
      <a class="rs-clickable" href="#">----</a>
      <a class="rs-clickable" href="#">----</a>
    </div>
  </div>
</body>
</html>
