<!DOCTYPE html>
<html lang="en" ng-app="rsApp">
<head>
  <title>校园星空</title>
  <meta charset="utf-8">

  <!--
  Basic
  ===============================================-->
  <link rel="stylesheet" href="/static/css/rabbitstrap.css">
  <!--1.5.0-beta.2-->
  <script src="/static/vendor/angular/angular.min.js"></script>
  <script src="/static/vendor/angular/angular-route.min.js"></script>
  <script src="/static/vendor/angular/angular-animate.min.js"></script>

  <!--
  App
  ===============================================-->
  <link rel="stylesheet" href="/static/css/reset.css">

  <!-- template -->
  <link rel="stylesheet" href="/static/css/trends.css">
  <link rel="stylesheet" href="/static/css/attention.css">
  <link rel="stylesheet" href="/static/css/card.css">
  <link rel="stylesheet" href="/static/css/square.css">
  <link rel="stylesheet" href="/static/css/login.css">

  <!-- partial -->
  <link rel="stylesheet" href="/static/css/home.css">
  <link rel="stylesheet" href="/static/css/qa.css">
  <link rel="stylesheet" href="/static/css/tag.css">
  <link rel="stylesheet" href="/static/css/file.css">
  <link rel="stylesheet" href="/static/css/path.css">
  <link rel="stylesheet" href="/static/css/user.css">

  <script src="/static/js/class/class.js"></script>
  <script src="/static/js/app.js"></script>

  <script src="/static/js/service/common.js"></script>
  <script src="/static/js/service/home.js"></script>
  <script src="/static/js/service/qa.js"></script>
  <script src="/static/js/service/file.js"></script>
  <script src="/static/js/service/service.js"></script>
  <script src="/static/js/service/user.js"></script>

  <script src="/static/js/controller/root.js"></script>
  <script src="/static/js/controller/home.js"></script>
  <script src="/static/js/controller/qa.js"></script>
  <script src="/static/js/controller/tag.js"></script>
  <script src="/static/js/controller/file.js"></script>
  <script src="/static/js/controller/service.js"></script>
  <script src="/static/js/controller/path.js"></script>
  <script src="/static/js/controller/user.js"></script>
  <script src="/static/js/controller/square.js"></script>
  <script src="/static/js/controller/login.js"></script>

  <!-- template -->
  <script src="/static/js/controller/trends.js"></script>
  <script src="/static/js/controller/attention.js"></script>
  <script src="/static/js/controller/card.js"></script>

  <!--
  Vendor
  ===============================================-->
  <link rel="stylesheet" href="/static/vendor/typicons/typicons.min.css">
  <link href="/static/vendor/font-awesome/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/vendor/animate/animate.css">

</head>
<body ng-controller="RootController">
  <div ng-include src="'/static/template/login.html'" class="animated fadeIn"
    ng-controller="LoginController" ng-if="curPath == '/login'"></div>

  <div ng-include src="'/static/template/home.html'" class="animated fadeIn"
    ng-controller="HomeController" ng-if="curPath != '/login'"></div>

</body>
</html>
