.rs-align-center {
  display: block;
  text-align: center;
}
.rs-align-left {
  display: block;
  text-align: left;
}
.rs-align-right {
  display: block;
  text-align: right;
}
.rs-align-vertical {
  display: table;
}
.rs-align-vertical > * {
  align-self: center;
}
