.btn(@btn-padding; @btn-font-size) {
  padding: @btn-padding;
  border: @base-border;
  background-color: @base-background-color;
  font-size: @btn-font-size;
  box-shadow: @btn-box-shadow;
  border-radius: @block-border-radius;

  &:hover, &:focus, &:active {
    background-color: darken(@base-background-color, @base-change)
  }
}
.btn {
  .btn(@btn-padding, @base-font-size)
}
.btn-sm {
  .btn(@btn-padding-sm, @base-font-size-sm)
}
.btn-lg {
  .btn(@btn-padding-lg, @base-font-size-lg)
}
