.rs-lines-x(@x) {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: @x;
  -webkit-box-orient: vertical;
  
  /* non-webkit browsers */
  height: @base-font-size * @base-line-height * @x;
  text-overflow: -o-ellipsis-lastline;
}
.rs-lines-1 {
  .rs-lines-x(1);
}
.rs-lines-2 {
  .rs-lines-x(2);
}
.rs-lines-3 {
  .rs-lines-x(3);
}
.rs-lines-4 {
  .rs-lines-x(4);
}
.rs-lines-5 {
  .rs-lines-x(5);
}
.rs-lines-6 {
  .rs-lines-x(6);
}
