.rs-tabs-x() {
  & > li {
    padding: @tabs-padding;
    float: left;
    border-left: @tabs-border;
    
  }
  & > li:first-child {
    border: none;
  }
  & > li.rs-active {
    color: @tabs-color;
  }
}
.rs-tabs {
  .rs-tabs-x();

  & > li {
    cursor: pointer;

    &:hover, &:focus, &:active {
      background-color: darken(@base-background-color, @base-change-sm)
    }
  }
}
.rs-tabs-static {
  .rs-tabs-x();
}
