/*
 * Basic CSS
 */
// Base
@base-border-color: #eee;
@base-background-color: white;
@base-box-shadow: rgba(0, 0, 0, .2) 0px 0px 2px 0px;
@base-border: 1px solid @base-border-color;
@base-font-size: 14px;
@base-font-size-sm: 12px;
@base-font-size-lg: 16px;
@base-font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
@base-font-weight: 500;
@base-line-height: 1.4;
@base-padding: 10px;
@base-change: 12%;
@base-change-sm: 3%;
@base-change-lg: 43%;
@base-color: #333;
@base-theme-color: #4579d8;
@base-border-radius: 3px;

/*
 * A
 */
// Align
// ...

/*
 * B
 */
// Block
@block-border-radius: @base-border-radius;

// Brand
@brand-color: white;
@brand-background-color: @base-theme-color;
@brand-border-radius: @base-border-radius;
@brand-padding: 1px 2px;

// Button
@btn-padding: 6px 12px;
@btn-padding-sm: 5px 10px;
@btn-padding-lg: 10px 16px;
@btn-box-shadow: rgba(0, 0, 0, .1) 0px 1px 2px 0px;

/*
 * C
 */
// Card
@card-padding: 10px;

// Clickable
@clickable-color: @base-theme-color;

// Container
@container-width: 920px;

/*
 * F
 */
// Font
@font-size: @base-font-size;
@font-size-sm: @base-font-size-sm;
@font-size-lg: @base-font-size-lg;

// Frosted
@frosted-background-color: rgba(0, 0, 0, @base-change);
@frosted-padding: @base-padding;

// H
@import "h-n.less";

// Hr
@hr-border: 1px solid @base-border-color;

/*
 * L
 */
// Lighten
@lighten-color: grey;

// Lines-n
// ...

// Logo
@logo-size: 50px;
@logo-size-sm: 30px;
@logo-size-lg: 92px;
@logo-border-radius: 50%;

/*
 * N
 */
// Navbar
@navbar-color: @base-color;
@navbar-inverse-color: white;
@navbar-background-color: rgba(255, 255, 255, .95);
@navbar-inverse-background-color: rgba(0, 0, 0, .95);
@navbar-height: 48px;
@navbar-margin: 0;


/*
 * Q
 */
// Quote
@quote-background-color: lighten(@base-theme-color, @base-change-lg);
@quote-padding: 5px;
@quote-border-radius: @base-border-radius;

/*
 * S
 */
// Skin
// ...
