/**
 * Global
 */
html, body {
  z-index: -2;
  background-color: lightblue;
}
body > .rs-skin {
  background-color: lightblue;
}
body > .rs-navbar-fixed .rs-container {
  text-align: center;
  height: inherit;
  overflow: hidden;
}
body > .rs-navbar-fixed .rs-container > * {
  margin: 0 10px;
}
body > .rs-navbar-fixed .rs-navbar-list > li.rs-active {
  background-color: transparent;
}
body > .rs-navbar-fixed .rs-navbar-list > li.rs-active * {
  color: #4579d8;
  font-weight: bold;
}
body > .rs-navbar-fixed .rs-navbar-list > li:hover,
body > .rs-navbar-fixed .rs-navbar-list > li:focus,
body > .rs-navbar-fixed .rs-navbar-list > li:active {
  background-color: transparent;
}
body > .rs-navbar-fixed .rs-container .typcn {
  font-size: 20px;
}
body > .rs-navbar-fixed .rs-container .typcn.typcn-media-record {
  position: absolute;
  font-size: 15px;
  color: red;
  right: -5px;
  top: 6px;
}
body > .rs-navbar-fixed .rs-container .rs-dropdown {
  position: fixed;
}
body > .rs-navbar-fixed .rs-container > ul > li {
  padding-top: 10px;
}
body > .rs-navbar-fixed .rs-container > div {
  display: inline-block;
}
body > .rs-navbar-fixed .rs-container > .search {
  width: 210px;
}
body > .rs-navbar-fixed .rs-container > .search > input {
  width: 210px;
  padding-right: 31px;/*for search icon 24icon width+5padding*/
}
body > .rs-navbar-fixed .rs-container > .search > span {
  position: absolute;
  right: 5px;
  bottom: 5px;
  cursor: pointer;
}
body > .rs-window > *:first-child {
  margin-top: 10px;
}
