/**
 * Course View
 */
.course-view .search {
  vertical-align: top;
  float: right;
}
.course-view .search > input {
  width: 280px;
  padding-right: 31px;/*for search icon 24icon width+5padding*/
}
.course-view .search > span {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 20px;
}
.course-view .search > label {
  display: inline-block;
  margin-top: 8px;
}
.course-view .typcn.typcn-star {
  color: orange;
  cursor: pointer;
}
.course-view .main-card {
  margin: 0 10px 10px 0;
}
.course-view .sub-card {
  margin-bottom: 10px;
}
.course-view .reading {
  text-align: right;
}
.course-view .reading > * {
  display: inline-block;
  padding-left: 5px;
}
.course-view .notice {
  margin: 10px -10px -10px -10px;
  border-radius: 0 0 3px 3px;
}
.course-view .rs-tabs {
  float: right;
}
.course-view .tags > * {
  margin-top: 10px;
  margin-right: 10px;
}
.course-view .action > * {
  display: inline-block;
  padding: 10px 10px 0 0;
}
.course-view .thumb-column {
  float: left;
  margin-right: 10px;
}
.course-view .profile ul {
  width: 250px;
  margin: 10px auto 0 auto;
  overflow: hidden;
}
.course-view .rs-logo-sm
{
  float: left;
  margin-right: 10px;
}
.course-view .rs-card > .title {
  margin-bottom: 10px;
}
.course-view .rs-thumb {
  margin-bottom: 5px;
}
.course-view .comments > * {
  width: 100%;
  margin-top: 10px;
}
.course-view .rs-badge i {
  color: white;
}
.course-view .rs-quote .content {
  padding-left: 5px;
}
.course-view .card {
  width: 260px;
}
.course-view .card .rs-card {
  width: 240px;
  display: table;
}
.course-view .poster.rs-logo {
  height: auto;
  border-radius: 0;
}
.course-view .intro {
  margin: 10px 0;
}
.course-view .intro * {
  display: block;
  
}
