.qa-view .title {
  margin: 10px 0;
}
.qa-view .wrapper + .splitter {
  border-top: 1px solid #eee;
  border-bottom: 1px solid  #eee;
  text-align: center;
  padding: 10px 0;
  margin: 10px 0;
}
.qa-view .wrapper .qa {
  margin: 10px 0;
}
.qa-view .wrapper.item .qa {
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px dashed #eee;
}
.qa-view .wrapper .image {
  max-width: 100%;
  margin-bottom: 5px;
}
