/**
 * QADetail View
 */
.qadetail-view .typcn.typcn-star {
  color: orange;
  cursor: pointer;
}
.qadetail-view .main-card {
  margin: 0 10px 10px 0;
}
.qadetail-view .sub-card {
  margin-bottom: 10px;
}
.qadetail-view .reading {
  text-align: right;
}
.qadetail-view .notice {
  margin-top: 10px;
}
.qadetail-view .rs-tabs {
  float: right;
}
.qadetail-view .tags > * {
  margin-top: 10px;
  margin-right: 10px;
}
.qadetail-view .action > * {
  display: inline-block;
  padding: 10px 10px 0 0;
}
.qadetail-view .thumb-column {
  float: left;
  margin-right: 10px;
}
.qadetail-view .profile ul {
  width: 250px;
  margin: 10px auto 0 auto;
  overflow: hidden;
}
.qadetail-view .rs-logo-sm
{
  float: left;
  margin-right: 10px;
}
.qadetail-view .rs-quote {
  margin-top: 10px;
}
.qadetail-view .rs-card > .title {
  margin-bottom: 10px;
}
.qadetail-view .rs-thumb {
  margin-bottom: 5px;
}
.qadetail-view .comments > * {
  width: 100%;
  margin-top: 10px;
}
.qadetail-view .rs-quote .content {
  padding-left: 5px;
}
.qadetail-view .people {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.qadetail-view .card {
  width: 260px;
}
.qadetail-view .card > .rs-card {
  width: 240px;
  display: table;
}
