/**
 * Global
 */
html, body {
  z-index: -2;
  background-color: lightblue;
}
body > .rs-skin {
  background-color: lightblue;
}
body > .rs-navbar-fixed .rs-container {
  text-align: center;
  height: inherit;
  overflow: hidden;
}
body > .rs-navbar-fixed .rs-container > * {
  margin: 0 10px;
}
body > .rs-navbar-fixed .rs-navbar-list > li.rs-active {
  background-color: transparent;
}
body > .rs-navbar-fixed .rs-navbar-list > li.rs-active * {
  color: #4579d8;
  font-weight: bold;
}
body > .rs-navbar-fixed .rs-navbar-list > li:hover,
body > .rs-navbar-fixed .rs-navbar-list > li:focus,
body > .rs-navbar-fixed .rs-navbar-list > li:active {
  background-color: transparent;
}
body > .rs-navbar-fixed .rs-container .typcn {
  font-size: 24px;
}
body > .rs-navbar-fixed .rs-container .rs-clickable:hover > * {
  color: #4579d8;
}
body > .rs-navbar-fixed .rs-container .rs-dropdown {
  position: fixed;
}
body > .rs-navbar-fixed .rs-container > ul > li {
  padding: 6px 15px 12px 15px;
}
body > .rs-navbar-fixed .rs-container > div {
  display: inline-block;
}
body > .rs-navbar-fixed .rs-container > input {
  width: 210px;
}
body > .rs-window > *:first-child {
  margin-top: 10px;
}

/**
 * QA View
 */
.qa-view .main-card {
  margin: 0 10px 10px 0;
}
.qa-view .sub-card {
  margin-bottom: 10px;
}
.qa-view .reading {
  text-align: right;
}
.qa-view .notice {
  margin-top: 10px;
}
.qa-view .rs-tabs {
  float: right;
}
.qa-view .tags > * {
  margin-top: 10px;
  margin-right: 10px;
}
.qa-view .action > * {
  display: inline-block;
  padding: 10px 10px 0 0;
}
.qa-view .thumb-column {
  float: left;
  margin-right: 10px;
}
.qa-view .profile ul {
  width: 250px;
  margin: 10px auto 0 auto;
  overflow: hidden;
}
.qa-view .rs-logo-sm
{
  float: left;
  margin-right: 10px;
}
.qa-view .rs-quote {
  margin-top: 10px;
}
.qa-view .rs-card > .title {
  margin-bottom: 10px;
}
.qa-view .rs-thumb {
  margin-bottom: 5px;
}
.qa-view .comments > * {
  width: 100%;
  margin-top: 10px;
}
.qa-view .rs-badge i {
  color: white;
}

/**
 * QADetail View
 */
.qadetail-view .main-card {
  margin: 0 10px 10px 0;
}
.qadetail-view .sub-card {
  margin-bottom: 10px;
}
.qadetail-view .reading {
  text-align: right;
}
.qadetail-view .notice {
  margin-top: 10px;
}
.qadetail-view .rs-tabs {
  float: right;
}
.qadetail-view .tags > * {
  margin-top: 10px;
  margin-right: 10px;
}
.qadetail-view .action > * {
  display: inline-block;
  padding: 10px 10px 0 0;
}
.qadetail-view .thumb-column {
  float: left;
  margin-right: 10px;
}
.qadetail-view .profile ul {
  width: 250px;
  margin: 10px auto 0 auto;
  overflow: hidden;
}
.qadetail-view .rs-logo-sm
{
  float: left;
  margin-right: 10px;
}
.qadetail-view .rs-quote {
  margin-top: 10px;
}
.qadetail-view .rs-card > .title {
  margin-bottom: 10px;
}
.qadetail-view .rs-thumb {
  margin-bottom: 5px;
}
.qadetail-view .comments > * {
  width: 100%;
  margin-top: 10px;
}
