/**
 * Global
 */
html, body {
  z-index: -2;
  background-color: lightblue;
}
.rs-skin {
  background-color: lightblue;
}
.rs-navbar-fixed .rs-container {
  text-align: center;
  height: inherit;
}
.rs-navbar-fixed .rs-container > * {
  margin: 0 2px;
}
.rs-navbar-fixed .rs-container > li {
  padding: 15px 5px;
}
.rs-navbar-fixed .rs-container > div {
  display: inline;
}
.rs-navbar-fixed .rs-container > input {
  width: 210px;
}
.rs-window > *:first-child {
  margin-top: 10px;
}

/**
 * QA View
 */
.qa-view .main-card {
  margin: 0 10px 10px 0;
}
.qa-view .sub-card {
  margin-bottom: 10px;
}
.qa-view .reading {
  text-align: right;
}
.qa-view .notice {
  margin-top: 10px;
}
.qa-view .rs-tabs {
  float: right;
}
.qa-view .tags > * {
  margin-top: 10px;
  margin-right: 10px;
}
.qa-view .action > * {
  display: inline-block;
  padding: 10px 10px 0 0;
}
.qa-view .thumb-column {
  float: left;
  margin-right: 10px;
}
.qa-view .profile ul {
  width: 250px;
  margin: 10px auto 0 auto;
  overflow: hidden;
}
.qa-view .rs-logo-sm
{
  float: left;
  margin-right: 10px;
}
.qa-view .rs-quote {
  margin-top: 10px;
}
.qa-view .rs-card > .title {
  margin-bottom: 10px;
}
.qa-view .rs-thumb {
  margin-bottom: 5px;
}

/**
 * QADetail View
 */
.qadetail-view .main-card {
  margin: 0 10px 10px 0;
}
.qadetail-view .sub-card {
  margin-bottom: 10px;
}
.qadetail-view .reading {
  text-align: right;
}
.qadetail-view .notice {
  margin-top: 10px;
}
.qadetail-view .rs-tabs {
  float: right;
}
.qadetail-view .tags > * {
  margin-top: 10px;
  margin-right: 10px;
}
.qadetail-view .action > * {
  display: inline-block;
  padding: 10px 10px 0 0;
}
.qadetail-view .thumb-column {
  float: left;
  margin-right: 10px;
}
.qadetail-view .profile ul {
  width: 250px;
  margin: 10px auto 0 auto;
  overflow: hidden;
}
.qadetail-view .rs-logo-sm
{
  float: left;
  margin-right: 10px;
}
.qadetail-view .rs-quote {
  margin-top: 10px;
}
.qadetail-view .rs-card > .title {
  margin-bottom: 10px;
}
.qadetail-view .rs-thumb {
  margin-bottom: 5px;
}
.qadetail-view .comments > * {
  width: 100%;
  margin-top: 10px;
}
