.tag-view .title {
  margin: 10px 0;
}
.tag-view .wrapper + .splitter {
  border-top: 1px solid #eee;
  border-bottom: 1px solid  #eee;
  text-align: center;
  padding: 10px 0;
  margin: 10px 0;
}
.tag-view .wrapper .tag {
  margin: 10px 0;
}
