<div ng-switch on="tab.getCurrentTab()">
  <div class="tab rs-align-center rs-font-size-all">
    <ul class="rs-tabs rs-add-inline-block" ng-init="tab.resetTabs(['课程', '同学', '标签']); tab.setCurrentTab('课程')">
      <li class="rs-font-size-lg" ng-click="tab.setCurrentTab(t)" ng-class="{'rs-active': tab.isCurrentTab(t)}" ng-repeat="t in tab.getTabs()" title="{{ t }}">{{ t }}</li>
    </ul>
  </div>
  <div ng-switch-when="课程" class="attention" ng-repeat="c in attention.courses" ng-mouseenter="showAttentionBtn = true" ng-mouseleave="showAttentionBtn = false">
    <a href="#/path/{{ c.id }}" target="_blank"><img class="rs-poster rs-float-left rs-margin-right-10" ng-src="{{ c.logo }}"></a>
    <div class="rs-add-table">
      <div class="rs-add-block rs-margin-bottom-5">
        <a href="#/path/{{ c.id }}" target="_blank" class="rs-active rs-clickable">{{ c.name }}</a>
        <button class="rs-btn-sm rs-float-right" ng-show="showAttentionBtn">取消关注</button>
      </div>
      <div class="rs-add-block">
        <a href="#/path/{{ c.id }}" target="_blank" class="rs-clickable">{{ c.achievement.question }}</a> <a class="rs-font-size-sm rs-lighten">问</a>
        <a class="rs-divider"></a>
        <a href="#/path/{{ c.id }}" target="_blank" class="rs-clickable">{{ c.achievement.answer }}</a> <a class="rs-font-size-sm rs-lighten">答</a>
        <a class="rs-divider"></a>
        <a href="#/path/{{ c.id }}" target="_blank" class="rs-clickable">{{ c.achievement.upload }}</a> <a class="rs-font-size-sm rs-lighten">传</a>
      </div>
      <span class="rs-add-table rs-margin-top-5">
        <span class="rs-lines-2-sm rs-lighten">{{ c.desc }}</span>
      </span>
      <div class="rs-margin-top-5 rs-font-size-sm-all rs-lighten-all">
        <a href="#/path/{{ c.path.id }}" target="_blank" class="rs-add-pointer rs-lighten rs-font-size-sm" ng-mouseenter="showFullPath = true" ng-mouseleave="showFullPath = false">
          {{ showFullPath ? c.path.name.replaceAll(';', ' / ') : c.path.name.split(';')[0] }}
        </a>
      </div>
    </div>
  </div>
  <div ng-switch-when="同学" class="attention" ng-repeat="u in attention.users" ng-mouseenter="showAttentionBtn = true" ng-mouseleave="showAttentionBtn = false">
    <a href="#/user/{{ u.id }}" target="_blank"><img class="rs-logo-circle rs-float-left rs-margin-right-10" ng-src="{{ u.logo }}"></a>
    <div class="rs-add-table">
      <div class="rs-add-block rs-margin-bottom-5">
        <a href="#/user/{{ u.id }}" target="_blank" class="rs-active rs-clickable">{{ u.name }}</a>
        <button class="rs-btn-sm rs-float-right" ng-show="showAttentionBtn">取消关注</button>
      </div>
      <div class="rs-add-block">
        <a href="#/user/{{ u.id }}" target="_blank" class="rs-clickable">{{ u.achievement.like }}</a> <a class="rs-font-size-sm rs-lighten">赞</a>
        <a class="rs-divider"></a>
        <a href="#/user/{{ u.id }}" target="_blank" class="rs-clickable">{{ u.achievement.flower }}</a> <a class="rs-font-size-sm rs-lighten">粉</a>
        <a class="rs-divider"></a>
        <a href="#/user/{{ u.id }}" target="_blank" class="rs-clickable">{{ u.achievement.question }}</a> <a class="rs-font-size-sm rs-lighten">问</a>
        <a class="rs-divider"></a>
        <a href="#/user/{{ u.id }}" target="_blank" class="rs-clickable">{{ u.achievement.answer }}</a> <a class="rs-font-size-sm rs-lighten">答</a>
        <a class="rs-divider"></a>
        <a href="#/user/{{ u.id }}" target="_blank" class="rs-clickable">{{ u.achievement.upload }}</a> <a class="rs-font-size-sm rs-lighten">传</a>
      </div>
      <span class="rs-add-table rs-margin-top-5">
        <span class="rs-lines-2-sm rs-lighten">{{ u.desc }}</span>
      </span>
      <div class="rs-margin-top-5 rs-font-size-sm-all rs-lighten-all">
        <a href="#/path/{{ u.path.id }}" target="_blank" class="rs-add-pointer rs-lighten rs-font-size-sm" ng-mouseenter="showFullPath = true" ng-mouseleave="showFullPath = false">
          {{ showFullPath ? u.path.name.replaceAll(';', ' / ') : u.path.name.split(';')[0] }}
        </a>
      </div>
    </div>
  </div>
  <div ng-switch-when="标签" class="attention" ng-repeat="t in attention.tags" ng-mouseenter="showAttentionBtn = true" ng-mouseleave="showAttentionBtn = false">
    <a href="#/tag/{{ t.id }}" target="_blank"><img class="rs-logo rs-float-left rs-margin-right-10" ng-src="{{ t.logo }}"></a>
    <div class="rs-add-table">
      <div class="rs-add-block rs-margin-bottom-5">
        <a href="#/tag/{{ t.id }}" target="_blank" class="rs-active rs-clickable">{{ t.name }}</a>
        <button class="rs-btn-sm rs-float-right" ng-show="showAttentionBtn">取消关注</button>
      </div>
      <div class="rs-add-block">
        <a href="#/user/{{ t.id }}" target="_blank" class="rs-clickable">{{ t.achievement.question }}</a> <a class="rs-font-size-sm rs-lighten">问</a>
        <a class="rs-divider"></a>
        <a href="#/user/{{ t.id }}" target="_blank" class="rs-clickable">{{ t.achievement.answer }}</a> <a class="rs-font-size-sm rs-lighten">答</a>
      </div>
      <span class="rs-add-table rs-margin-top-5">
        <span class="rs-lines-2-sm rs-lighten">{{ t.desc }}</span>
      </span>
      <div class="rs-margin-top-5 rs-font-size-sm-all rs-lighten-all">
        <a href="#/path/{{ t.path.id }}" target="_blank" class="rs-add-pointer rs-lighten rs-font-size-sm" ng-mouseenter="showFullPath = true" ng-mouseleave="showFullPath = false">
          {{ showFullPath ? t.path.name.replaceAll(';', ' / ') : t.path.name.split(';')[0] }}
        </a>
      </div>
    </div>
  </div>
  <div class="rs-align-center rs-font-size-sm rs-lighten rs-clickable" ng-init="loading = '加载更多'" ng-click="loading = '加载中...'">{{ loading }}</div>
  <div class="rs-pack-height-10"></div>
</div>
