<div class="trends">
  <div class="tab rs-align-center rs-font-size-all">
    <ul class="rs-tabs rs-add-inline-block" ng-init="tab.resetTabs(['全部', '服务', '问答', '资料']); tab.setCurrentTab('全部')">
      <li class="rs-font-size-lg" ng-click="tab.setCurrentTab(t)" ng-class="{'rs-active': tab.isCurrentTab(t)}" ng-repeat="t in tab.getTabs()" title="{{ t }}">{{ t }}</li>
    </ul>
  </div>
  <div class="rs-add-block rs-block10" ng-repeat="t in trends"
    ng-if="
      ((TrendsType.question == t.type || TrendsType.answer == t.type) && (tab.isCurrentTab('全部') || tab.isCurrentTab('问答')))
      || (TrendsType.upload == t.type && (tab.isCurrentTab('全部') || tab.isCurrentTab('资料')))
      || (TrendsType.serve == t.type && (tab.isCurrentTab('全部') || tab.isCurrentTab('服务')))">
    <div class="rs-float-left rs-margin-right-10">
      <a href="#/user/{{ t.author.id }}" target="_blank" class="rs-dropdown-target">
        <img class="rs-logo-circle-sm" ng-src="{{ t.author.logo }}">
        <div ng-include src="'/static/template/card.html'" class="rs-dropdown animated fadeIn" ng-controller="CardController"></div>
      </a>
      <span class="rs-badge-sm rs-badge-primary rs-add-block rs-clickable rs-align-center"
        title="有{{ t.achievement.like }}个同学{{ t.type | transToChs:'like' }}">
        {{ t.achievement.like }}
      </span>
    </div>
    <div class="rs-add-table">
      <span class="rs-add-block">
        <a href="#/user/{{ t.author.id }}" target="_blank" class="rs-font-size-sm">{{ t.author.name }}</a>
        <span class="rs-font-size-sm rs-lighten">{{ t.type | transToChs:"trends" }}</span> 
        <a href="#/qa/{{ t.id }}" target="_blank" class="rs-active rs-clickable" ng-if="t.type == TrendsType.question || t.type == TrendsType.answer">{{ t.name }}</a>
        <a href="#/file/{{ t.id }}" target="_blank" class="rs-active rs-clickable" ng-if="t.type == TrendsType.upload">{{ t.name }}</a>
        <a href="#/service/{{ t.id }}" target="_blank" class="rs-active rs-clickable" ng-if="t.type == TrendsType.serve">{{ t.name }}</a>
      </span>
      <span class="rs-pack-height-5"></span>
      <!-- 提问 -->
      <span class="rs-add-table" ng-if="t.type == TrendsType.question && !t.image">
        <span class="rs-lines-3 rs-add-pointer">{{ t.desc }}</span>
      </span>
      <span class="rs-add-table" ng-if="t.type == TrendsType.question && t.image">
        <div class="rs-block10">
          <img class="rs-block10-3" ng-src="{{ t.image }}">
          <div class="rs-block10-7">
            <span class="rs-lines-5 rs-margin-left-5 rs-add-pointer">{{ t.desc }}</span>
          </div>
        </div>
      </span>
      <!-- 回答 -->
      <span class="rs-add-table" ng-if="t.type == TrendsType.answer && !t.image">
        <span class="rs-lines-3 rs-add-pointer">{{ t.desc }}</span>
      </span>
      <span class="rs-add-table" ng-if="t.type == TrendsType.answer && t.image">
        <div class="rs-block10">
          <img class="rs-block10-3" ng-src="{{ t.image }}">
          <div class="rs-block10-7">
            <span class="rs-lines-5 rs-margin-left-5 rs-add-pointer">{{ t.desc }}</span>
          </div>
        </div>
      </span>
      <!-- 上传 -->
      <span class="rs-add-table" ng-if="t.type == TrendsType.upload">
        <span class="rs-lines-3 rs-add-pointer rs-margin-bottom-5">{{ t.desc }}</span>
        <button class="rs-btn rs-font-size-sm"><i class="typcn typcn-document"></i> 预览资料</button> <button class="rs-btn rs-font-size-sm rs-margin-left-5"><i class="typcn typcn-printer"></i> 免费打印</button>
      </span>
      <!-- 服务 -->
      <span class="rs-add-table" ng-if="t.type == TrendsType.serve">
        <span class="rs-lines-3 rs-add-pointer rs-margin-bottom-5">{{ t.desc }}</span>
        <button class="rs-btn rs-font-size-sm"><i class="typcn typcn-heart-outline"></i> 请求辅导</button>
      </span>
      <!-- 时间 -->
      <div class="rs-add-block rs-font-size-sm rs-lighten rs-margin-top-5">
        <i class="typcn typcn-time"></i>发布于 {{ t.time }}
      </div>
    </div>
  </div>
  <div class="rs-align-center rs-font-size-sm rs-lighten rs-clickable" ng-init="loading = '加载更多'" ng-click="loading = '加载中...'">
    {{ loading }}
  </div>
  <div class="rs-pack-height-10"></div>
</div>
