<div class="home-view"><div class="rs-block10">
  <!--
  Left
  ===============================================-->
  <div class="rs-block10-7" ng-switch on="tab.getCurrentTab()">
    <div class="tab">
      <ul class="rs-tabs rs-add-inline-block" ng-init="tab.resetTabs(['动态', '我的关注']); tab.setCurrentTab('动态')">
        <li class="rs-font-size-lg"
          ng-click="tab.setCurrentTab(t)"
          ng-class="{'rs-active': tab.isCurrentTab(t)}"
          ng-repeat="t in tab.getTabs()"
          title="{{ t }}">
          {{ t }}
        </li>
      </ul>
    </div>
    <div class="wrapper" ng-switch-when="动态">
      <div ng-include src="'/static/template/trends.html'" class="animated fadeIn" ng-controller="TrendsController"></div>
    </div>
    <div class="wrapper" ng-switch-when="我的关注">
      <div ng-include src="'/static/template/attention.html'" class="animated fadeIn" ng-controller="AttentionController"></div>
    </div>
  </div>
  <!--
  Right
  ===============================================-->
  <div class="rs-block10-3">
    <div class="rs-block10 rs-margin-left-20">
      <div class="wrapper">
        <div ng-include src="'/static/template/action.html'"></div>
      </div>
      <div class="rs-pack-height-10"></div>
      <div class="wrapper">
        <div class="title rs-font-size-lg rs-color-theme rs-add-bold">我的成就</div>
        <div class="rs-add-block">
          <a href="#/user/{{ user.id }}" target="_blank"  class="rs-clickable">{{ user.achievement.like }}</a> <a class="rs-font-size-sm rs-lighten">赞</a>
          <a class="rs-divider"></a>
          <a href="#/user/{{ user.id }}" target="_blank" class="rs-clickable">{{ user.achievement.flower }}</a> <a class="rs-font-size-sm rs-lighten">粉</a>
          <a class="rs-divider"></a>
          <a href="#/user/{{ user.id }}" target="_blank" class="rs-clickable">{{ user.achievement.question }}</a> <a class="rs-font-size-sm rs-lighten">问</a>
          <a class="rs-divider"></a>
          <a href="#/user/{{ user.id }}" target="_blank" class="rs-clickable">{{ user.achievement.answer }}</a> <a class="rs-font-size-sm rs-lighten">答</a>
          <a class="rs-divider"></a>
          <a href="#/user/{{ user.id }}" target="_blank" class="rs-clickable">{{ user.achievement.upload }}</a> <a class="rs-font-size-sm rs-lighten">传</a>
        </div>
      </div>
      <div class="rs-pack-height-10"></div>
      <div class="wrapper">
        <div class="title rs-font-size-lg rs-color-theme rs-add-bold">大家想知道</div>
        <div class="rs-add-block rs-add-pointer rs-margin-bottom-5" ng-repeat="q in topQuestions">
          <a href="#/qa/{{ q.id }}" target="_blank" class="rs-font-size rs-clickable">{{ q.name }}</a>
        </div>
      </div>
    </div>
  </div>
</div></div>

