<div class="home-view"><div class="rs-block10">
  <!--
  Left
  ===============================================-->
  <div class="rs-block10-7" ng-switch on="tab.getCurrentTab()">
    <div class="tab rs-align-center">
      <ul class="rs-tabs rs-add-inline-block" ng-init="tab.resetTabs(['课程动态', '我关注的课程']); tab.setCurrentTab('课程动态')">
        <li class="rs-font-size-lg" ng-click="tab.setCurrentTab(t)" ng-class="{'rs-active': tab.isCurrentTab(t)}" ng-repeat="t in tab.getTabs()" title="{{ t }}">{{ t }}</li>
      </ul>
    </div>
    <div class="wrapper" ng-switch-when="课程动态">
      <div class="activity rs-add-block rs-block10" ng-repeat="a in activities">
        <div class="rs-float-left rs-margin-right-10">
          <img class="rs-logo-circle-sm" src="/static/img/poster.jpg" alt="{{ a.from }}">
          <span class="rs-badge-sm rs-add-block rs-clickable rs-align-center" title="{{ {'ask': '想知道', 'answer': '支持', 'upload': '赞', 'teach': '赞'}[a.type]}}">{{ a.weight }}</span>
        </div>
        <div class="rs-add-table">
          <span class="rs-active rs-clickable rs-add-block">
            <span class="rs-font-size-sm rs-lighten">{{ a.from }}</span>
            <span class="rs-font-size-sm rs-lighten">[{{ trans.toChs(a.type) }}]</span> {{ a.to }}
          </span>
          <span class="rs-pack-height-5"></span>
          <!-- 提问 -->
          <span class="rs-add-table" ng-if="a.type == 'ask' && !a.poster">
            <span class="rs-lines-3 rs-add-pointer">{{ a.desc }}</span>
          </span>
          <span class="rs-add-table" ng-if="a.type == 'ask' && a.poster">
            <div class="rs-block10">
              <img class="rs-block10-3" ng-src="{{ a.poster }}">
              <div class="rs-block10-7">
                <span class="rs-lines-5 rs-margin-left-5 rs-add-pointer">{{ a.desc }}</span>
              </div>
            </div>
          </span>
          <!-- 回答 -->
          <span class="rs-add-table" ng-if="a.type == 'answer' && !a.poster">
            <span class="rs-lines-3 rs-add-pointer">{{ a.desc }}</span>
          </span>
          <span class="rs-add-table" ng-if="a.type == 'answer' && a.poster">
            <div class="rs-block10">
              <img class="rs-block10-3" ng-src="{{ a.poster }}">
              <div class="rs-block10-7">
                <span class="rs-lines-5 rs-margin-left-5 rs-add-pointer">{{ a.desc }}</span>
              </div>
            </div>
          </span>
          <!-- 上传 -->
          <span class="rs-add-table" ng-if="a.type == 'upload'">
            <span class="rs-lines-3 rs-add-pointer rs-margin-bottom-5">{{ a.desc }}</span>
            <button class="rs-btn rs-font-size-sm"><i class="typcn typcn-document"></i> 预览文件</button>
            <button class="rs-btn rs-font-size-sm rs-margin-left-5"><i class="typcn typcn-printer"></i> 免费打印</button>
          </span>
          <!-- 辅导 -->
          <span class="rs-add-table" ng-if="a.type == 'teach'">
            <span class="rs-lines-5 rs-add-pointer">{{ a.desc }}</span>
          </span>
          <div class="rs-margin-top-10 rs-font-size-sm-all rs-lighten-all">
            <span class="rs-margin-right-5">发布于 {{ a.time }}</span>
            <span class="rs-add-pointer" ng-mouseenter="showFullLocation = true" ng-mouseleave="showFullLocation = false">
              {{ showFullLocation ? a.location.join(' / ') : a.location[0] }}
            </span>
          </div>
        </div>
      </div>
      <div class="rs-align-center rs-font-size-sm rs-lighten rs-clickable" ng-init="loading = '加载更多'" ng-click="loading = '加载中...'">{{ loading }}</div>
      <div class="rs-pack-height-10"></div>
    </div>
    <div class="wrapper" ng-switch-when="我关注的课程">
      <div class="course" ng-repeat="c in courses" ng-mouseenter="showAttentionBtn = true" ng-mouseleave="showAttentionBtn = false">
        <img class="rs-poster rs-margin-right-10" src="/static/img/poster.jpg" alt="{{ c.name }}">
        <div class="rs-add-inline-block rs-align-vertical-top">
          <span class="rs-add-inline-block rs-active rs-clickable rs-lines-1">{{ c.name }}</span>
          <span class="rs-clickable">121</span> <span class="rs-font-size-sm rs-lighten">回答</span>
          <span class="rs-divider"></span>
          <span class="rs-clickable">30</span> <span class="rs-font-size-sm rs-lighten">上传</span>
          <span class="rs-divider"></span>
          <span class="rs-clickable">12</span> <span class="rs-font-size-sm rs-lighten">辅导</span>
          <div class="rs-margin-top-10 rs-font-size-sm-all rs-lighten-all">
            <span class="rs-margin-right-5">关注于 {{ c.time }}</span>
            <span class="rs-add-pointer" ng-mouseenter="showFullLocation = true" ng-mouseleave="showFullLocation = false">
              {{ showFullLocation ? c.location.join(' / ') : c.location[0] }}
            </span>
          </div>

        </div>
        <button class="rs-btn-sm rs-float-right" ng-show="showAttentionBtn">取消关注</button>
      </div>
      <div class="rs-align-center rs-font-size-sm rs-lighten rs-clickable" ng-init="loading = '加载更多'" ng-click="loading = '加载中...'">{{ loading }}</div>
      <div class="rs-pack-height-10"></div>
    </div>
  </div>
  <!--
  Right
  ===============================================-->
  <div class="rs-block10-3">
    <div class="rs-block10 rs-margin-left-50">
      <div class="wrapper">
        <div class="title rs-font-size-lg rs-color-theme rs-add-bold">我的成就</div>
        <div class="rs-add-block">
          <span class="rs-clickable">1.2k</span> <span class="rs-font-size-sm rs-lighten">F币</span>
          <span class="rs-divider"></span>
          <span class="rs-clickable">121</span> <span class="rs-font-size-sm rs-lighten">回答</span>
          <span class="rs-divider"></span>
          <span class="rs-clickable">30</span> <span class="rs-font-size-sm rs-lighten">上传</span>
          <span class="rs-divider"></span>
          <span class="rs-clickable">12</span> <span class="rs-font-size-sm rs-lighten">辅导</span>
        </div>
      </div>
      <div class="rs-pack-height-10"></div>
      <div class="wrapper">
        <div class="title rs-font-size-lg rs-color-theme rs-add-bold">推荐课程<span class="rs-font-size-sm rs-lighten rs-clickable rs-float-right">换一批</span></div>
        <div class="rs-add-block rs-add-pointer rs-margin-bottom-5" ng-repeat="c in courses" ng-if="$index < 5" ng-init="showPoster = false" ng-mouseenter="showPoster = true" ng-mouseleave="showPoster = false">
          <div class="rs-add-block">
            <span class="rs-font-size rs-clickable">{{ c.name }}</span>
            <span class="rs-font-size-sm rs-lighten">{{ c.location[0] }}</span>
        </div>
        <img ng-show="showPoster" class="rs-poster" src="/static/img/poster.jpg" alt="{{ c.name }}">
      </div>
    </div>
  </div>
</div></div>

