<div class="qa-view"><div class="rs-block10">
  <!--
  Left
  ===============================================-->
  <div class="rs-block10-7">
    <div class="wrapper">
      <div class="qa rs-add-block rs-block10">
        <div class="rs-float-left rs-margin-right-10">
          <img class="rs-logo-circle-sm" src="/static/img/poster.jpg" alt="{{ question.from }}">
          <span class="rs-badge-sm rs-badge-primary rs-add-block rs-clickable rs-align-center" title="{{ Like.toChs(question.type) }}">{{ question.weight }}</span>
        </div>
        <div class="rs-add-table">
          <div class="tags rs-margin-bottom-10">
            <a href="#/topic" class="rs-badge-sm rs-badge-primary rs-margin-right-10" ng-repeat="t in question.tags">{{ t }}</a>
          </div>
          <span class="rs-active rs-clickable rs-add-block rs-font-size-lg">{{ question.to }}</span>
          <span class="rs-pack-height-5"></span>
          <!-- 提问 -->
          <span class="rs-add-table">
            <img class="image" ng-src="{{ question.poster }}">
            {{ question.desc }}
          </span>
        </div>
      </div>
    </div>
    <div class="answer-count rs-font-size-sm rs-lighten">共有 110 个回答</div>
    <div class="wrapper answer">
      <div class="qa rs-add-block rs-block10" ng-repeat="a in answers">
        <div class="rs-float-left rs-margin-right-10">
          <img class="rs-logo-circle-sm" src="/static/img/poster.jpg" alt="{{ a.from }}">
          <span class="rs-badge-sm rs-badge-primary rs-add-block rs-clickable rs-align-center" title="{{ Trans.toChs(a.type) }}">{{ a.weight }}</span>
        </div>
        <div class="rs-add-table">
          <span class="rs-active rs-clickable rs-add-block rs-font-size-sm-all rs-lighten-all">
            <span>{{ a.from }}</span>
            <span>Simple is the best</span>
            <span class="rs-add-pointer" ng-mouseenter="showFullLocation = true" ng-mouseleave="showFullLocation = false">
              {{ showFullLocation ? a.location.slice(0, a.length-1).join(' / ') : a.location[0] }}
            </span>
          </span>
          <span class="rs-pack-height-5"></span>
          <!-- 回答 -->
          <span class="rs-add-table" ng-if="a.type == 'answer'">
            <img class="image" ng-src="{{ a.poster }}">
            {{ a.desc }}
          </span>
        </div>
      </div>
      <div class="rs-align-center rs-font-size-sm rs-lighten rs-clickable" ng-init="loading = '加载更多'" ng-click="loading = '加载中...'">{{ loading }}</div>
      <div class="rs-pack-height-10"></div>
    </div>
    <div class="rs-quote">发布你的回答</div>
  </div>
  <!--
  Right
  ===============================================-->
  <div class="rs-block10-3">
    <div class="rs-block10 rs-margin-left-20">
      <div class="wrapper">
        <div class="rs-add-block rs-block10 rs-margin-top-10 rs-active-all">
          <button class="rs-btn rs-block10-5">提问题</button>
          <button class="rs-btn rs-block10-5">传资料</button>
        </div>
        <span class="rs-font-size-sm rs-clickable rs-lighten rs-float-right rs-margin-top-10">没有解决你的问题？邀请同学回答吧</span>
      </div>
      <div class="rs-pack-height-30"></div>
      <div class="wrapper">
        <div class="title rs-font-size-lg rs-color-theme rs-add-bold">相关问题</div>
        <div class="rs-add-block rs-add-pointer rs-margin-bottom-5" ng-repeat="a in answers">
          <div class="rs-add-block">
            <span class="rs-font-size rs-clickable">{{ a.to }}</span>
        </div>
      </div>
    </div>
  </div>
</div></div>

