<div class="qa-view">
<div class="rs-block10">
  <div class="rs-block10-7">
    <div class="rs-card main-card">
      <select>
        <option>全国高校</option>
        <option>只看本校</option>
      </select>
      <ul class="rs-tabs">
        <li ng-click="setSelectedTab(tab)" ng-class="{'rs-active': isSelected(tab)}" ng-repeat="tab in ['校园', '考研', '留学', '考证', '就业', '实习']">{{ tab }}</li>
      </ul>
      <div class="notice rs-notice-primary" ng-hide="closed">有 10 条新的问答哦，点我查看<span class="rs-close" ng-click="closed=true">×</span></div>
    </div>
    <div class="rs-card main-card" ng-repeat="item in qa">
      <div class="thumb-column">
        <img class="rs-logo" src="http://tp1.sinaimg.cn/1704839092/180/40056779711/1">
        <div class="rs-thumb" ng-click="like = like == '赞' ? '已赞' : '赞'" ng-init="like='赞'">
        <div class="rs-thumb-btn">{{ like }}</div>
          <div class="rs-thumb-content">{{ item.like }}</div>
        </div>
        <div class="rs-thumb" ng-click="award = award == '赏' ? '已赏' : '赏'" ng-init="award='赏'">
          <div class="rs-thumb-btn">{{ award }}</div>
          <div class="rs-thumb-content">{{ item.award }}</div>
        </div>
      </div>
      <div class="rs-align-vertical">
        <div>
          <strong>{{ item.name }}</strong> 清华大学 <div class="rs-badge rs-font-size-sm">校</div>
          <div class="rs-lines-1 rs-lighten">{{ item.desc }}</div>
          <hr>
          <div class="rs-lines-1 rs-clickable">
            <div class="rs-badge rs-font-size-sm">{{ item.type }}</div> <a href="#/qadetail" target="_blank"><strong class="rs-active">{{ item.title }}</strong></a>
          </div>
          <div class="rs-quote rs-add-pointer" ng-init="readingOpen[$index] = false">
            <a href="#/qadetail" target="_blank"><div ng-class="{false: 'rs-lines-5'}[readingOpen[$index]]" ng-click="setReadingOpen(true)">{{ item.desc }}</div></a>
            <div class="reading">
              <div class="rs-active rs-clickable rs-font-size-sm rs-add-inline-block" ng-click="setReadingMode(true)">沉浸阅读</div>
              <div class="rs-lighten rs-font-size-sm rs-add-inline-block">·</div>
              <div class="rs-active rs-clickable rs-font-size-sm rs-add-inline-block" ng-click="setReadingOpen($index, !readingOpen[$index])">
                {{ readingOpen[$index] ? "收起全部" : "展开全部" }}
              </div>
            </div>
          </div>
          <div class="tags">
            <div class="rs-badge-lighten rs-font-size-sm" ng-repeat="tag in item.tags">{{ tag }}</div>
          </div>
          <div class="action">
            <div class="rs-lighten rs-font-size-sm">发布于 {{ item.datetime }}</div>
            <div class="rs-lighten rs-font-size-sm">·</div>
            <div class="rs-lighten rs-font-size-sm rs-clickable" ng-click="attention = attention == '关注' ? '已关注' : '关注'" ng-init="attention='关注'">{{ attention }}</div>
            <div class="rs-lighten rs-font-size-sm">·</div>
            <div class="rs-lighten rs-font-size-sm rs-clickable" ng-click="mark = mark == '收藏' ? '已收藏' : '收藏'" ng-init="mark='收藏'">{{ mark }}</div>
            <div class="rs-lighten rs-font-size-sm">·</div>
            <div class="rs-lighten rs-font-size-sm rs-clickable rs-dropdown-target">转发
              <ul class="rs-dropdown">
                <li>新浪微博</li>
                <li>微信</li>
                <li>QQ空间</li>
                <li>人人</li>
              </ul>
            </div>
            <div class="rs-lighten rs-font-size-sm">·</div>
            <div class="rs-lighten rs-font-size-sm rs-clickable" ng-init="showComments[$index] = false" ng-click="showComments[$index] = !showComments[$index]">
              {{ showComments[$index] ? "收起评论" : qa.length + " 条评论" }}
            </div>
          </div>
          <div class="comments" ng-if="showComments[$index]">
            <div class="rs-form-group">
              <button class="rs-btn rs-font-size-sm">发布评论</button>
              <div><input class="rs-input-text rs-font-size-sm" type="text" placeholder="写下你的看法..." ng-model="reply"></div>
            </div>
            <div class="main-card" ng-repeat="item in qa">
              <img class="rs-logo-sm" src="http://tp1.sinaimg.cn/1704839092/180/40056779711/1">
              <div class="rs-align-vertical">
                <div>
                  <strong class="rs-font-size-sm">{{ item.name }}</strong>
                  <div class="rs-font-size-sm">{{ item.desc }}</div>
                  <div class="action">
                    <div class="rs-lighten rs-font-size-sm">发布于 {{ item.datetime }}</div>
                    <div class="rs-lighten rs-font-size-sm">·</div>
                    <div class="rs-lighten rs-font-size-sm rs-clickable" ng-click="replySomebody($index)">回复</div>
                    <div class="rs-lighten rs-font-size-sm">·</div>
                    <div class="rs-lighten rs-font-size-sm rs-clickable" ng-click="like = like == '赞' ? '已赞' : '赞'" ng-init="like='赞'">{{ like }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rs-align-center rs-lighten rs-font-size-sm rs-clickable" ng-init="loadMore = '加载更多'" ng-click="loadMore = '加载中...'">{{ loadMore }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="rs-card main-card">
      <div class="rs-align-center rs-lighten rs-font-size-sm rs-clickable" ng-init="loadMore = '加载更多'" ng-click="loadMore = '加载中...'">{{ loadMore }}</div>
    </div>
  </div>
  <!--
  Hot
  -->
  <div class="rs-block10-3">
    <div class="profile rs-card sub-card rs-align-center" ng-style="{'position': {true:'fixed', false:'relative'}[showProfile], 'width': profileWidth}">
      <div>
        <img class="rs-logo" src="http://tp1.sinaimg.cn/1704839092/180/40056779711/1">
        <div class="rs-align-vertical">
          <div>
            <strong>Yang</strong> <div class="rs-badge rs-font-size-sm">校</div>
            <div class="rs-lines-2 rs-lighten">周杰伦1979年1月18日出生于台湾台北县（现新北市）[26]  ，祖籍福建省永春县[27]  。父亲周耀中是淡江中学的物理老师，母亲叶惠美是淡江中学的美术老师，周杰伦读初中二年级时，周耀中和叶惠美办理了离婚手续，并协议商定周杰伦归叶惠美抚养。因担心离婚不利于周杰伦的成长，他们决定先瞒着他。然而，不久后发生的一件事，却让周杰伦知道了事情的真相。周杰伦的作文《孝顺的老爸》被老师评为优秀作文，老师让他在课堂上将其作为范文朗读。课后一个男同学却嘲笑道：“你爸和你妈都离婚了，你骗谁呢?”父母的离异给周杰伦带来了巨大的伤害。[28]  课堂上他会经常走神，中考时周杰伦因为成绩差被拒绝入校，幸好因为擅长钢琴才被破格录取。</div>
          </div>
        </div>
      </div>
      <ul class="rs-tabs-static">
        <li>
          <div class="rs-thumb rs-remove-border">
            <div class="rs-thumb-btn">F币</div>
            <div class="rs-thumb-content">12k</div>
          </div>
        </li>
        <li>
          <div class="rs-thumb rs-remove-border">
            <div class="rs-thumb-btn">回答</div>
            <div class="rs-thumb-content">198</div>
          </div>
        </li>
        <li>
          <div class="rs-thumb rs-remove-border">
            <div class="rs-thumb-btn">上传</div>
            <div class="rs-thumb-content">20</div>
          </div>
        </li>
        <li>
          <div class="rs-thumb rs-remove-border">
            <div class="rs-thumb-btn">关注</div>
            <div class="rs-thumb-content">40</div>
          </div>
        </li>
        <li>
          <div class="rs-thumb rs-remove-border">
            <div class="rs-thumb-btn">粉丝</div>
            <div class="rs-thumb-content">199</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="rs-card sub-card">
      <div class="title"><strong>最新问答</strong></div>
      <div class="main-card" ng-repeat="item in qa">
        <img class="rs-logo-sm" src="http://tp1.sinaimg.cn/1704839092/180/40056779711/1">
        <div class="rs-align-vertical">
          <div>
            <strong>{{ item.name }}</strong>
            <div class="rs-lines-1 rs-lighten">{{ item.desc }}</div>
            <div class="rs-lines-1 rs-clickable">
              <div class="rs-badge rs-font-size-sm">{{ item.type }}</div> <a href="#/qadetail" target="_blank"><strong class="rs-active">{{ item.title }}</strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="rs-card sub-card">
      <div class="title"><strong>热门问答</strong></div>
      <div class="main-card" ng-repeat="item in qa">
        <img class="rs-logo-sm" src="http://tp1.sinaimg.cn/1704839092/180/40056779711/1">
        <div class="rs-align-vertical">
          <div>
            <strong>{{ item.name }}</strong>
            <div class="rs-lines-1 rs-lighten">{{ item.desc }}</div>
            <div class="rs-lines-1 rs-clickable">
              <div class="rs-badge rs-font-size-sm">{{ item.type }}</div> <a href="#/qadetail" target="_blank"><strong class="rs-active">{{ item.title }}</strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

