<div class="topic-view">
<div class="rs-block10">
  <div class="rs-block10-7">
    <!--
    Question
    -->
    <div class="rs-card main-card" ng-repeat="item in qa" ng-if="$index == 0">
      <div class="rs-align-vertical">
        <div>
          <div class="rs-lines-1 rs-clickable">
            <div class="rs-add-inline-block rs-font-size"><span class="typcn typcn-social-vimeo" title="认证话题"></span></div>
            <a><strong class="rs-active">中国科学院大学</strong></a>
          </div>
          <div class="rs-quote rs-add-pointer" ng-init="readingOpen[$index] = false">
            <a class="rs-block10" ng-click="setReadingOpen($index, !readingOpen[$index])">
              <div ng-class="{false: 'rs-lines-3'}[readingOpen[$index]]" ng-click="setReadingOpen(true)">
                中国科学院大学（University of Chinese Academy of Sciences），简称“国科大”，中国科学技术最高学府，隶属于中国科学院，前身是中国科学院研究生院，创建于1978年，是经国务院批准创办的新中国第一所研究生院，培养了中国的第一个理学博士、第一个工学博士、第一个女博士、第一个双学位博士。 中国科学院大学（University of Chinese Academy of Sciences），简称“国科大”，中国科学技术最高学府，隶属于中国科学院，前身是中国科学院研究生院，创建于1978年，是经国务院批准创办的新中国第一所研究生院，培养了中国的第一个理学博士、第一个工学博士、第一个女博士、第一个双学位博士。
              </div>
            </a>
            <div class="reading">
              <div class="rs-active rs-clickable rs-font-size-sm rs-add-inline-block" ng-click="setReadingOpen($index, !readingOpen[$index])">
                {{ readingOpen[$index] ? "收起全部" : "展开全部" }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="rs-card main-card">
      <div class="rs-align-center rs-font-size-sm rs-lighten">相关问答</div>
    </div>
    <!--
    Answer
    -->
    <div class="rs-card main-card" ng-repeat="item in qa">
      <div class="thumb-column">
        <!--
        Card
        ===============================================-->
        <div class="rs-dropdown-target">
          <a href="#"><img class="rs-logo" src="http://tp1.sinaimg.cn/1704839092/180/40056779711/1"></a>
          <div class="card rs-dropdown">
            <div class="rs-card">
              <a href="#"><img class="rs-logo-sm" src="http://tp1.sinaimg.cn/1704839092/180/40056779711/1"></a>
              <div class="rs-align-vertical">
                <div>
                  <div ng-if="$index % 2" class="rs-add-inline-block rs-font-size"><span class="typcn typcn-star" title="校园之星"></span></div>
                  <strong class="rs-clickable">{{ item.name }}</strong>
                  <div class="rs-lighten rs-font-size-sm rs-add-inline-block">{{ $index % 2 ? '清华大学' : '同校计算机学院' }}</div>
                </div>
                <div class="rs-lighten rs-font-size-sm rs-add-inline-block">生命在于运动</div>
              </div>
              <hr>
              <ul class="rs-tabs-static">
                <li>
                  <div class="rs-thumb rs-remove-border">
                    <div class="rs-thumb-btn">F币</div>
                    <div class="rs-thumb-content">12k</div>
                  </div>
                </li>
                <li>
                  <div class="rs-thumb rs-remove-border">
                    <div class="rs-thumb-btn">回答</div>
                    <div class="rs-thumb-content">198</div>
                  </div>
                </li>
                <li>
                  <div class="rs-thumb rs-remove-border">
                    <div class="rs-thumb-btn">上传</div>
                    <div class="rs-thumb-content">20</div>
                  </div>
                </li>
                <li>
                  <div class="rs-thumb rs-remove-border">
                    <div class="rs-thumb-btn">关注</div>
                    <div class="rs-thumb-content">40</div>
                  </div>
                </li>
                <li>
                  <div class="rs-thumb rs-remove-border">
                    <div class="rs-thumb-btn">粉丝</div>
                    <div class="rs-thumb-content">199</div>
                  </div>
                </li>
              </ul>
              <button ng-init="thisBtnName = '关注Ta'" class="rs-btn rs-block10 rs-font-size-sm" ng-click="thisBtnName = thisBtnName == '关注Ta' ? '已关注' : '关注Ta'">
                <span ng-class="{'关注Ta': 'typcn typcn-plus', '已关注': 'typcn typcn-tick'}[thisBtnName]"></span>
                {{ thisBtnName }}
              </button>
            </div>
          </div>
        </div>
        <div ng-if="item.type != '关注了该问题'">
          <div class="rs-thumb rs-lighten-all" ng-click="like = like == '赞' ? '已赞' : '赞'" ng-init="like='赞'">
          <div class="rs-thumb-btn">{{ like }}</div>
            <div class="rs-thumb-content">{{ item.like }}</div>
          </div>
          <div class="rs-thumb rs-lighten-all" ng-click="award = award == '赏' ? '已赏' : '已赏'" ng-init="award='赏'">
            <div class="rs-thumb-btn">{{ award }}</div>
            <div class="rs-thumb-content">{{ item.award }}</div>
          </div>
        </div>
      </div>
      <div class="rs-align-vertical">
        <div>
          <div ng-if="item.type != ''">
            <div class="rs-lines-1 rs-lighten rs-font-size-sm">
              <span class="rs-clickable rs-font-size-sm">周杰伦</span>、<span class="rs-clickable rs-font-size-sm">蔡依林</span>
              {{ item.type }}
            </div>
            <hr>
          </div>
          <div class="rs-lines-1 rs-clickable">
            <a href="#/qadetail" target="_blank"><strong class="rs-active">{{ item.title }}</strong></a>
          </div>
          <div ng-if="$index % 2" class="rs-add-inline-block rs-font-size"><span class="typcn typcn-star" title="校园之星"></span></div>
          <strong class="rs-clickable rs-font-size-sm">{{ item.name }}</strong>
          <div class="rs-lighten rs-font-size-sm rs-add-inline-block">{{ $index % 2 ? '清华大学' : '同校计算机学院' }}</div>
          <div class="rs-lighten rs-font-size-sm rs-add-inline-block">·</div>
          <div class="rs-lighten rs-font-size-sm rs-add-inline-block">生命在于运动</div>
          <div class="rs-quote rs-add-pointer" ng-init="readingOpen[$index] = false">
            <a ng-if="$index % 2" class="rs-block10" href="#/qadetail" target="_blank">
              <img class="rs-block10-3" src="http://ww4.sinaimg.cn/large/659dc7b4jw1e96tf7pynej20u00gvwii.jpg">
              <div class="rs-block10-7">
                <div class="content" ng-class="{false: 'rs-lines-5'}[readingOpen[$index]]" ng-click="setReadingOpen(true)">{{ item.content }}</div>
              </div>
            </a>
            <a ng-if="!($index % 2)" class="rs-block10" href="#/qadetail" target="_blank">
              <div ng-class="{false: 'rs-lines-3'}[readingOpen[$index]]" ng-click="setReadingOpen(true)">{{ item.content }}</div>
            </a>
            <div class="reading">
              <div class="rs-active rs-clickable-all rs-font-size-sm rs-add-inline-block" ng-click="setReadingMode(true)">
                <span class="typcn typcn-coffee rs-active"></span> 沉浸阅读
              </div>
              <div class="rs-lighten rs-font-size-sm rs-add-inline-block">·</div>
              <div class="rs-active rs-clickable rs-font-size-sm rs-add-inline-block" ng-click="setReadingOpen($index, !readingOpen[$index])">
                {{ readingOpen[$index] ? "收起全部" : "展开全部" }}
              </div>
            </div>
          </div>
          <div class="tags">
            <a href="#/topic" target="_blank" title="查看该话题" class="rs-badge-lighten rs-font-size-sm" ng-repeat="tag in item.tags">{{ tag }}</a>
            <a ng-if="$index % 2" title="已关联课程体系
              清华大学-信息工程学院-计算机专业-C语言程序设计" class="rs-add-pointer"><span class="typcn typcn-feather"></span></a>
          </div>
          <div class="action">
            <div class="rs-lighten-all rs-font-size-sm">
              <span class="typcn typcn-time"></span> {{ item.datetime }}
            </div>
            <div class="rs-lighten rs-font-size-sm">·</div>
            <div class="rs-lighten-all rs-font-size-sm rs-clickable-all" ng-click="attention = attention == '关注问题' ? '已关注问题' : '关注问题'" ng-init="attention='关注问题'">
              <span class="typcn typcn-plus"></span> {{ attention }}
            </div>
            <div class="rs-lighten rs-font-size-sm">·</div>
            <div class="rs-lighten-all rs-font-size-sm rs-clickable-all" ng-click="mark = mark == '收藏' ? '已收藏' : '收藏'" ng-init="mark='收藏'">
              <span class="typcn typcn-bookmark"></span> {{ mark }}
            </div>
            <div class="rs-lighten rs-font-size-sm">·</div>
            <div class="rs-lighten-child rs-font-size-sm rs-clickable-child rs-dropdown-target">
              <span class="typcn typcn-arrow-forward-outline"></span> 分享
              <ul class="rs-dropdown">
                <li>新浪微博</li>
                <li>微信</li>
                <li>QQ空间</li>
                <li>人人</li>
              </ul>
            </div>
            <div class="rs-lighten rs-font-size-sm">·</div>
            <div class="rs-lighten-all rs-font-size-sm rs-clickable-all" ng-init="showComments[$index] = false" ng-click="showComments[$index] = !showComments[$index]">
              <span class="typcn typcn-message"></span> {{ showComments[$index] ? "收起评论" : qa.length + " 条评论" }}
            </div>
          </div>
          <div class="comments" ng-if="showComments[$index]">
            <div class="rs-form-group">
              <button class="rs-btn rs-font-size-sm">发布评论</button>
              <div><input class="rs-input-text rs-font-size-sm" type="text" placeholder="写下你的看法..." ng-model="reply"></div>
            </div>
            <div class="main-card" ng-repeat="item in qa">
              <a href="#"><img class="rs-logo-sm" src="http://tp1.sinaimg.cn/1704839092/180/40056779711/1"></a>
              <div class="rs-align-vertical">
                <div>
                  <strong class="rs-font-size-sm rs-clickable">{{ item.name }}</strong>
                  <div class="rs-font-size-sm">Hi</div>
                  <div class="action">
                    <div class="rs-lighten rs-font-size-sm"> {{ item.datetime }}</div>
                    <div class="rs-lighten rs-font-size-sm">·</div>
                    <div class="rs-lighten rs-font-size-sm rs-clickable" ng-click="replySomebody($index)">回复</div>
                    <div class="rs-lighten rs-font-size-sm">·</div>
                    <div class="rs-lighten rs-font-size-sm rs-clickable" ng-click="like = like == '赞' ? '已赞' : '赞'" ng-init="like='赞'">{{ like }}</div>
                  </div>
                </div>
              </div>
              <hr class="rs-dashed">
            </div>
            <div class="rs-align-center rs-lighten rs-font-size-sm rs-clickable" ng-init="loadMore = '加载更多'" ng-click="loadMore = '加载中...'">{{ loadMore }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="rs-card main-card">
      <div class="rs-align-center rs-lighten rs-font-size-sm rs-clickable" ng-init="loadMore = '加载更多'" ng-click="loadMore = '加载中...'">{{ loadMore }}</div>
    </div>
  </div>
  <!--
  Hot
  -->
  <div class="rs-block10-3" ng-init="thisBtnName = '关注该话题'">
    <div class="profile rs-card sub-card rs-align-center" ng-style="{'position': {true:'fixed', false:'relative'}[showProfile], 'width': profileWidth}">
      <div class="rs-font-size-sm rs-align-left rs-lighten">有 <span class="rs-font-size-sm rs-clickable">1024</span> 个同学关注了该话题</div>
      <div class="people1">
        <!--
        Card
        ===============================================-->
        <div class="people rs-dropdown-target" ng-repeat="i in [1,2,3,4,5,6,7]">
          <a href="#"><img class="rs-logo-sm" src="http://tp1.sinaimg.cn/1704839092/180/40056779711/1"></a>
          <div class="card rs-dropdown">
            <div class="rs-card">
              <a href="#"><img class="rs-logo-sm" src="http://tp1.sinaimg.cn/1704839092/180/40056779711/1"></a>
              <div class="rs-align-vertical">
                <div>
                  <div ng-if="$index % 2" class="rs-add-inline-block rs-font-size"><span class="typcn typcn-star" title="校园之星"></span></div>
                  <strong class="rs-clickable">{{ item.name }}</strong>
                  <div class="rs-lighten rs-font-size-sm rs-add-inline-block">{{ $index % 2 ? '清华大学' : '同校计算机学院' }}</div>
                </div>
                <div class="rs-lighten rs-font-size-sm rs-add-inline-block">生命在于运动</div>
              </div>
              <hr>
              <ul class="rs-tabs-static">
                <li>
                  <div class="rs-thumb rs-remove-border">
                    <div class="rs-thumb-btn">F币</div>
                    <div class="rs-thumb-content">12k</div>
                  </div>
                </li>
                <li>
                  <div class="rs-thumb rs-remove-border">
                    <div class="rs-thumb-btn">回答</div>
                    <div class="rs-thumb-content">198</div>
                  </div>
                </li>
                <li>
                  <div class="rs-thumb rs-remove-border">
                    <div class="rs-thumb-btn">上传</div>
                    <div class="rs-thumb-content">20</div>
                  </div>
                </li>
                <li>
                  <div class="rs-thumb rs-remove-border">
                    <div class="rs-thumb-btn">关注</div>
                    <div class="rs-thumb-content">40</div>
                  </div>
                </li>
                <li>
                  <div class="rs-thumb rs-remove-border">
                    <div class="rs-thumb-btn">粉丝</div>
                    <div class="rs-thumb-content">199</div>
                  </div>
                </li>
              </ul>
              <button ng-init="thisBtnName = '关注Ta'" class="rs-btn rs-block10 rs-font-size-sm" ng-click="thisBtnName = thisBtnName == '关注Ta' ? '已关注' : '关注Ta'">
                <span ng-class="{'关注Ta': 'typcn typcn-plus', '已关注': 'typcn typcn-tick'}[thisBtnName]"></span>
                {{ thisBtnName }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <button class="rs-btn rs-block10" ng-class="{'关注该话题': 'rs-btn-primary'}[thisBtnName]" ng-click="thisBtnName = thisBtnName == '关注该话题' ? '已关注' : '关注该话题'">
        <span ng-class="{'关注该话题': 'typcn typcn-plus', '已关注': 'typcn typcn-tick'}[thisBtnName]" ng-style="{'color': {'关注该话题': 'white'}[thisBtnName]}"></span>
        {{ thisBtnName }}
      </button>
    </div>
    <div class="rs-card sub-card">
      <div class="title"><strong>相关话题</strong></div>
      <div class="main-card" ng-repeat="item in qa">
        <div class="rs-lines-1 rs-clickable">
          <div ng-if="$index % 2" class="rs-add-inline-block rs-font-size"><span class="typcn typcn-social-vimeo" title="认证话题"></span></div>
          <a href="#/qadetail" target="_blank"><strong class="rs-active rs-font-size-sm">{{ item.title }}</strong></a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

